.Rproj.user
.Rhistory
.RData
HSMMs-eps-converted-to.pdf
summer_presentation-concordance.tex
summer_presentation.aux
summer_presentation.log
summer_presentation.nav
summer_presentation.out
summer_presentation.snm
summer_presentation.synctex.gz
summer_presentation.toc
signal-peptide4.Rproj
